@using Domain.Models
@using System.Globalization
@model IEnumerable<Journal>
@{
    ViewData["Title"] = "Journals";
}

<div class="row mt-2">
    <div class="col-12">
        <h1>Journals</h1>
    </div>
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h5 class="card-title mb-0">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month), @item.Year</h5>
                            <div class="dropdown" onclick="event.stopPropagation();">
                                <button class="btn btn-sm" type="button" id="dropdownMenuButton-@item.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton-@item.Id">
                                    <li>
                                        <a asp-action="ExportPdf" asp-controller="Journal" asp-route-id="@item.Id" class="dropdown-item text-danger">
                                            <i class="bi bi-file-pdf"></i> PDF
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a asp-action="Details" asp-controller="Journal" asp-route-id="@item.Id" title="View" class="text-decoration-none">
                            <img src="~/images/book.jpg" alt="@item.Id" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info">No journals found. <a asp-action="Create" asp-controller="Journal">Create a new journal</a>.</div>
    }
</div>
